<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @surface.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @surface.room %>
</p>

<p>
  <strong>Location:</strong>
  <%= @surface.location_id %>
</p>

<%= link_to 'Edit', edit_surface_path(@surface) %> |
<%= link_to 'Back', surfaces_path %>
